@import "mediaqueries";


html {
  scroll-behavior: smooth;
}
.only-mobile{
    display: none;
    @include mobile{ display: block;}
}

.not-mobile{
    display: none;
    @include tablet{ display: block;}
}


    @include mobile{
        .texto_encima {
    padding-top: 11%;
    padding-left: 9%;
    padding-right: 9%;
    font-size: 30px;
    font-weight: 700;
    font-family: 'Interstate';
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
        }
    }

    @include tablet{ 
        .texto_encima{  
            padding-top: 11%;
            padding-left: 9%;
            padding-right: 9%;
            font-size: 42px;
            font-weight: 700;
          
            font-family: 'Interstate';
            color: white;
            
            display: flex;
            align-items: center;
            justify-content: center;
          }
    }


    @include wide{ 
        .texto_encima{  
            padding-top: 11%;
            padding-left: 22%;
            padding-right: 22%;
            font-size: 42px;
            font-weight: 700;
          
            font-family: 'Interstate';
            color: white;
            
            display: flex;
            align-items: center;
            justify-content: center;
          }
    }
    @import "propsicons";