
.propsicons{

 border:1px solid lime;

  span{
    color: #7992A1;
    font-size: 21px;
    margin-right: 32px;

  }

  img{
    margin-right: 4px;
    vertical-align: unset;

  }
  img.palomita{
    margin-right: 21px;
  }

}
.propiedades-iconos{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 3rem 3rem 3rem;
  column-gap: 1rem;
  row-gap: 1rem;
  .item{
    //border:1px solid aqua;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: bolder;
    color: #7992A1;
    font-size:2rem;
    .icon{
      margin-right:.5rem;
    }
    &.metros{
      
      grid-column:3 /5;
    }
  }
}
