@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@font-face {
  font-family: Interstate;
  font-display: swap;
  src: url(../fonts/Interstate-regular.ttf)
}


.social{
  /*las imágenes usadas tienen width de 48px*/
 
  position: fixed;
  flex: auto;
  z-index: 1;
  right:0;
}

/* Extra centrado vertical*/

.social{
  /*border:1px solid #000;*/
  top:94%;
  height:205px;
  /*para poner height 192 deberíamos haber indicado en el reset de estilos font-size:0;*/
  margin-top:-100px;
  flex: auto;
  flex-direction: column;
 
}

body {
  font-family: 'Roboto', sans-serif;
  color: #003251;
}
.img-us{
  float: left;
  padding-right: 8px;
  padding-bottom: 31px;
}
.an{
  margin-bottom: 3px;
}
 /* Make the image fully responsive */
.thumbnail {
  box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.5);
  transition: 0.3s;
  min-width: 40%;
  border-radius: 5px;
  padding: 0px;
}
.thumbnail-description {
  min-height: 0px;
}
.thumbnail:hover {
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 1);
}
.carousel-caption {
  right: 1%;
  left: 1%;
   top: 82%;
  text-align: left;
}
.titulo1{
  color: #7F7452;
 font-style: italic; 
  font-family: 'Interstate', sans-serif;
 
}
.titulo2{
  color: #7F7452;
}
.containerN {
  padding: 60px 0px;
}
#navigation {
  background-color: rgba(72, 8, 111, 0.4);
  border: 0 none;
  margin: 0;
}
#miSection .container {
  width: 1280px !important;
}
.navbar-brand {
  padding: 0;
}
.logo {
  margin: 0;
}
.container3{
  background-color: #003251;
}
.contactocss{
  background-color: #7992A1;
  color: white;
  justify-content: center;
  display: flex; 
}
.img-responsive{
  padding-bottom: 5px;
}
.formclass{ 
  padding-top: 3%;
  padding-bottom: 3%;
}
.contactocss1{
  background-color: #003251; 
}
#contacto{
  color: #fff;
  background-color: #7F7452;
}
.formulario{
  text-align: center;
}
.caja_imagen{
  background: top center no-repeat url("../img/header.webp");
  background-color: #003251;
  background-blend-mode: multiply;
  padding-bottom:100px;     
  overflow: hidden;
  height: 518px;
  position: relative;
}
h1{
  font-weight: bold;
  font-family: 'Interstate';
  font-size: 40px;
}
h2, h3{
  font-weight: 900;
  font-family: 'Interstate';
} 
.tags{
  margin-left: 1%;
}
.dropdown-menu li :hover {
  background: #7F7452 !important;
  color: #fff !important;
  font-weight: bold;
} 
.texto_parrafo {         
  padding-right:15%;
  padding-left:15%; 
  font-size: 20px;
  font-family: 'Interstate';
  color: rgb(255, 0, 255);
  text-align: justify;
}
.bg-1 {
  background: #7F7452;
  color: white;
}
.bg-1 h3 {color: #fff;}
.bg-1 p {font-style: italic;}
.list-group-item:first-child {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.list-group-item:last-child {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.btn {
  padding: 10px 20px;
  background-color: #003251;
  color: #f1f1f1;
  border-radius: 11px;
  transition: -1.8s;
}
.btn:hover, .btn:focus {
  border: 1px solid #7F7452;
  background-color: #7F7452;
  color: #fff;
}
.modal-header, h4, .close {
  background-color: #333;
  color: #fff !important;
  text-align: center;
  font-size: 30px;
}
.modal-header, .modal-body {
  padding: 40px 50px;
}
.nav-tabs li a {
  color: #777;
}
#googleMap {
  width: 100%;
  height: 400px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}  
.hola{
  max-width: 1450px;
}
.navbar {
  margin-bottom: 0;
  background-color: #003251;
  border: 0;
  font-size: 15px !important;
  letter-spacing: 0px;
  opacity: 0.9;
}
.navbar li a, .navbar .navbar-brand { 
  color: #fff !important; 
}
.navbar-nav li a:hover {
  color: #fff !important;
}
.navbar-nav li.active a {
  color: #fff !important;
  background-color: #7F7452 !important;
}
.navbar-default .navbar-toggle {
  border-color: transparent;
}
.open .dropdown-toggle {
  color: #fff;
  background-color: #555 !important;
}
.dropdown-menu li a {
  color: #000 !important;
}
footer {
  background-color: #003251;
  color: #f5f5f5;
  padding: 32px;
  margin: 0 auto;
}
.btn-flotante {
	font-size: 16px; /* Cambiar el tamaño de la tipografia */
	font-weight: bold; /* Fuente en negrita o bold */
	color: #ffffff; /* Color del texto */
	border-radius: 5px; /* Borde del boton */
	letter-spacing: 1px; /* Espacio entre letras */
	background-color: #7F7452; /* Color de fondo */
	padding: 18px 30px; /* Relleno del boton */
	position: fixed;
	bottom: 37%;
	right: 2px;
	transition: all 300ms ease 0ms;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  z-index: 99;
  text-decoration: none; 
}
.btn-flotante:hover {
  background-color: #003251; /* Color de fondo al pasar el cursor */
  color: white;
	box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
  transform: translateY(-7px);
  text-decoration: none;
}
@media only screen and (max-width: 600px) {
 	.btn-flotante {
		font-size: 14px;
		padding: 12px 20px;
		bottom: 20px;
		right: 20px;
	}
} 
.span-foot{
font-weight: bold;
font-size: 17px;
}
footer a {
  color: #f5f5f5;
}
footer a:hover {
  color: #777;
  text-decoration: none;
}  
.form-control {
  border-radius: 0;
}
textarea {
  resize: none;
}