<template>
  <!-- eslint-disable max-len -->
  <div
    class="container"
    v-if="isLoading"
  >
    Enviando...
  </div>
  <div class="text-center form-generic form-generic--alert" v-else-if="isSent">
    <h1 class="title text-2xl md:text-4xl font-bold color-aqua">¡Muchas gracias!</h1>
    <p>En breve me comunicaré personalmente contigo.</p>
  </div>
  
              <form id="the-form" v-else @submit.prevent="sendForm" class="col-sm-12 formclass">
                <div
                  class=" bg-yellow-400 rounded p-2 mb-4 text-center"
                  v-if="formHasError"
                >
                  <p>Hubo un error enviando tus datos, por favor intentalo de nuevo</p>
                </div>
     
                    <h2>Recibe atención especializada por un asesor de Mandala Real Estate.</h2>
                    <p style="font-weight: bold;">  Compártenos tus datos aquí, para encontrar tu próximo hogar.</p>
                    <div class="form-group col-sm-7">
                        <label for="email">Nombre:</label>
                            <input
                            id="basic-first-name"
                            v-model="model.Nombre"
                            class="form-control"
                            name="Nombre"
                            placeholder="Nombre Apellido"
                           
                            required
                            type="text"
                          />
                          <br>
                          <label for="email">Teléfono:</label>
                            <input
                              id="basic-last-name"
                              v-model="model['Teléfono']"
                              name="Tel'efono"
                              placeholder="Teléfono a 10 digitos "
                              class="form-control"
                              required
                              type="number"
                            />
                            <br>
                              <label for="email">Correo electrónico: </label>
                            <input
                              id="basic-correo"
                              v-model="model['Correo']"
                              name="Correo"
                              class="form-control"
                              required
                              placeholder="El correo donde podemos contactarte"
                              type="email"
                            /><br>
                             <label><strong>Coméntanos ¿Qué propiedad te gustó más?</strong></label> <br>
                         <input
                              id="basic-opinion"
                              v-model="model['Opinion']"
                              name="Opinion"
                              class="form-control"
                              placeholder="Propiedad de tu interés"
                              type="text"
                            />
                    </div>
                     
                    <div class="checkbox col-sm-5">
                     
                      <span style="font-weight: bold;">¿Qué buscas?:</span><br>
                        <label><input type="checkbox"  id="Comprar" value="Comprar" v-model="model.Busqueda"> Comprar</label><br>
                        <label><input type="checkbox" id="Rentar" value="Rentar" v-model="model.Busqueda"> Rentar</label><br>
                        <label><input type="checkbox" id="Vender" value="Vender" v-model="model.Busqueda"> Vender</label><br>
                        <label><input type="checkbox" id="Poner en Renta" value="Poner en Renta" v-model="model.Busqueda"> Poner en Renta</label><br><br>
                       <br><br>
                        <label style="float: right;"><input type="checkbox"  id="TOS" v-model="TOS" name="TOS" required="true"> Aviso de Privacidad</label><br>
                   
                    <button type="submit" class="btn btn-default">Enviar</button>
                   
                    </div>
                </form>
 
  <!-- eslint-enable max-len -->
</template>
<script>
import axios from 'axios';
import formMixin from './form-mixin';
/**
 * Formulario genérico
 *
 * @version 1.6
 */


export default {
  name: 'FormGeneric',
  mixins: [formMixin],
  data() {
    return {
      TOS: false,
      isSent: false,
      isLoading: false,
      formHasError: false,
      otrosModelos: false,
      model: {
        Nombre: '',
        'Teléfono': '',
        Busqueda: [],
        'E-mail': '',
        Opinion: ''
      }
    };
  },
  

  
  methods: {
    sendForm() {
      Promise.all([this.sendToSheets()])
        .then(() => {
          this.isLoading = false;
          this.isSent = true;

          console.log('Sending to analiticas');
          window.gtag('event', 'generate_lead', {
            event_label: 'Formulario de contacto enviado.',
            event_category: 'engagement'
          });
          // console.log('Sending to addwords');
          // window.gtag('event', 'conversion', {
          //   send_to: 'G-XGE08CCG7L/1GwyCMajq-wBELK0hpsC'
          // });
           window.open("https://www.mandalars.mx/gracias.html");
        })
        .catch(error => {
          this.isLoading = false;
          this.formHasError = true;
          console.error(error);
          window.gtag('event', 'exception', {
            description: 'ERROR_FORM_SEND',
            fatal: true // set to true if the error is fatal
          });
        });
    },
    sendToSheets() {
      return this.formSend();
    }

  }
};
</script>

<docs>
  Este formulario es muy configurable y no suele ser necesario tener más de uno
  ## Examples Usando las opciones por defecto
  ```jsx
  <form-generic />
  ```
  ## Configurando la hoja de envío
  ```jsx
  <form-generic sheet-destiny="Demo de componente" />
  ```
</docs>
