<template>
  <!-- eslint-disable max-len -->
  <div
    class="container"
    v-if="isLoading"
  >
    Enviando...
  </div>
  <div class="text-center form-generic form-generic--alert" v-else-if="isSent">
    <h1 class="title text-2xl md:text-4xl font-bold color-aqua">¡Muchas gracias!</h1>
    <p>En breve me comunicaré personalmente contigo.</p>
  </div>
  <form id="the-form" v-else @submit.prevent="sendForm" class="col-sm-7 formclass">
    
    <div
      class=" bg-yellow-400 rounded p-2 mb-4 text-center"
      v-if="formHasError"
    >
      <p>Hubo un error enviando tus datos, por favor intentalo de nuevo</p>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <label class="block label mb-1" for="basic-first-name">Nombre</label>
        <input
          id="basic-first-name"
          v-model="model.Nombre"
          name="Nombre"
          placeholder="nombre"
          class="form-input block"
          required
          type="text"
        />
      </div>
      <div class="column half p-4">
        <label class="block label mb-1" for="basic-last-name">Teléfono</label>
        <input
          id="basic-last-name"
          v-model="model['Teléfono']"
          name="Tel'efono"
          placeholder="fon"
          class="form-input block"
          required
          type="text"
        />
      </div>
    </div>
    <div class="row">

      <div class="column half p-4">
        <label for="basic-hospital">Hospitalwwww</label>
        <div class="relative">

        </div>
        <div class="relative">
        <select 
          class="block appearance-none w-full border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-state"
          name="basic-hospital" 
          required
          v-model="model.Busqueda">
          <option>Hospital San Ángel Inn Patriotismo</option>
          <option>Centro Médico ABC Santa Fe</option>
          <option>Centro Médico ABC Observatorio</option>
        </select>
        <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
          
        </div>
      </div>
      </div>
      <div class="column half p-4">
      
        <label class="block label mt-2 mb-1" for="basic-correo">Correo</label>
          <input
            id="basic-correo"
            v-model="model['Correo']"
            name="Correo"
            class="form-input block"
            required
            type="email"
          />

      </div>
    </div>
    
    



    

    <div
      class="mb-2 tb:mb-0 sm:flex justify-between items-center mt-2 flex-wrap"
    >
      <label class="mr-2 block">
        <input
          id="TOS"
          v-model="TOS"
          type="checkbox"
          class="form-checkbox"
          name="TOS"
          required="true"
        />
        Acepto el
        <a href="https://www.drjorgeobregon.com/aviso-de-privacidad/" target="_blank"
          >Aviso de privacidad</a
        >
      </label>
      <p class="text-center mt-4 sm:mt-0 sm:text-left">
        <button
          type="submit"
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
        >
          Enviar
        </button>
      </p>
    </div>
    
  </form>
  <!-- eslint-enable max-len -->
</template>
<script>
import axios from 'axios';
import formMixin from './form-mixin';
/**
 * Formulario genérico
 *
 * @version 1.6
 */

export default {
  name: 'FormGeneric',
  mixins: [formMixin],
  data() {
    return {
      TOS: false,
      isSent: false,
      isLoading: false,
      formHasError: false,
      otrosModelos: false,
      model: {
        Nombre: '',
        'Teléfono': '',
        Hospital: '',
        'E-mail': ''
      }
    };
  },
  
  methods: {
    sendForm() {
      Promise.all([this.sendToSheets()])
        .then(() => {
          this.isLoading = false;
          this.isSent = true;

          console.log('Sending to analiticas');
          window.gtag('event', 'generate_lead', {
            event_label: 'Formulario de contacto enviado.',
            event_category: 'engagement'
          });
          // console.log('Sending to addwords');
          // window.gtag('event', 'conversion', {
          //   send_to: 'AW-714360821/54G3CNqfxKkBEPWP0dQC'
          // });
        })
        .catch(error => {
          this.isLoading = false;
          this.formHasError = true;
          console.error(error);
          window.gtag('event', 'exception', {
            description: 'ERROR_FORM_SEND',
            fatal: true // set to true if the error is fatal
          });
        });
    },
    sendToSheets() {
      return this.formSend();
    }

  }
};
</script>

<docs>
  Este formulario es muy configurable y no suele ser necesario tener más de uno
  ## Examples Usando las opciones por defecto
  ```jsx
  <form-generic />
  ```
  ## Configurando la hoja de envío
  ```jsx
  <form-generic sheet-destiny="Demo de componente" />
  ```
</docs>
